* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #navbar {
    display: flex;
    background-color: orange;
  }

  #content {
    display: flex;
    flex-wrap: wrap;
  }

  #map {
    height: 100vh;
    width: 66vw;
  }

    #rightBar{
      display: flex;
      flex-direction: column;
    }
      #establishment {
        background-color: yellow;
        height: 50vh;
        width: 32vw;
      }

      #itinerary {
        background-color: purple;
        height: 50vh;
        width: 32vw;
      }